h1 {
  text-align: center;
  font-size: 70px;
}

img {
  border: 10px solid #ddd;
  padding: 5px;
  align-items: center
}

background linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);


h2 {
  text-decoration: none;
  font-size: 40px; 
  text-align: left;
}

h3 {
  font-size: 30px; 
  text-align: left;
}
