h1 {
  text-align: center;
  font-size: 175px;
}

img {
  border: 10px solid #ddd;
  padding: 5px;
  align: middle;
}

h2 {
  text-decoration: none;
  font-size: 75px; 
  text-align: left;
}

h3 {
  font-size: 45px; 
  text-align: left;
}
